@media (max-width: 1550px){
    .contacts-list{
        grid-template-columns: repeat(4,1fr);
    }
}
@media (max-width: 1245px){
    .contacts-list{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 930px){
    .contacts-list{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 630px){
    .contacts-list{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
}